# Production
https://[host] {
	root [root]/production
	gzip
	header /_ Cache-Control "public, max-age=31536000, immutable"

	tls {
		dns route53
	}
}

# Redirect to https and canonical domain
http://*.[tld host],
https://*.[tld host],
http://[host] {
	redir [host]
}

# Staging
https://staging.[tld host] {
	root [root]/staging
	gzip

	tls {
		dns route53
	}
}
