https://[host] {
	root [root]
	gzip
	header /_ Cache-Control "public, max-age=31536000, immutable"

	tls {
		dns route53
	}
}

http://*.[tld host],
https://*.[tld host],
http://[host] {
	redir [host]
}
